ul.ztree {
    width: auto;
    color: white;
    height: auto;
}

.ztree * {
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: white;
    height: auto;
}

ul.ztree {
    width: auto;
    color: white;
}

.ztree {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

    .ztree li ul {
        margin: 0;
        padding: 0
    }

    .ztree li {
        line-height: 44px;
        height: auto;
    }

        .ztree li a {
            width: 200px;
            height: 40px;
            padding-top: 0px;
        }

            .ztree li a:hover {
                text-decoration: none;
                background: url("../res/tree_hover.png") no-repeat;
                background-size: 100% 100%;
            }

            .ztree li a span.button.switch {
                visibility: hidden
            }

    .ztree.showIcon li a span.button.switch {
        visibility: visible
    }

    .ztree li a.curSelectedNode {
        background: url("../res/tree_hover.png") no-repeat;
        background-size: 100% 100%;
        border: 0;
        height: 40px;
    }

    .ztree li span {
        line-height: 40px;
    }

        .ztree li span.button {
            margin-top: -7px;
        }

            .ztree li span.button.switch {
                width: 16px;
                height: 16px;
            }

    .ztree li a.level1 {
        padding-left: 10px;
    }

    .ztree li a.level2 {
        padding-left: 20px;
    }

    .ztree li a.level3 {
        padding-left: 30px;
    }

    .ztree li a.level4 {
        padding-left: 40px;
    }

    .ztree li a.level5 {
        padding-left: 50px;
    }

    .ztree li span.button {
        background-image: url("../res/left_menuForOutLook.png");
    }

        .ztree li span.button.switch.level0 {
            width: 20px;
            height: 20px;
        }

        .ztree li span.button.switch.level1 {
            width: 20px;
            height: 15px;
        }

        .ztree li span.button.noline_open {
            background-position: 0 0;
        }

        .ztree li span.button.noline_close {
            background-position: -15px 0;
        }

        .ztree li span.button.noline_open.level0 {
            background-position: 0 -15px;
        }

        .ztree li span.button.noline_close.level0 {
            background-position: -15px -15px;
        }
