.main {
    background-color: transparent;
    background: url("../res/loginBg.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.logincontainer {
    height: 600px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
}

.sdktitle {
    margin-top: 5%;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: xx-large;
    font-style: italic;
    color: white;
    height: auto;
    width: auto;
}

.loginwidget {
    border: solid thin rgb(101,189,251);
    border-radius: 5px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
}

.loginwidget .userRoom {
    position: absolute;
    color: #e4393c;
    height: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 14px;
}

.loginwidget .passwordRoom {
    position: absolute;
    color: #e4393c;
    height: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: 25%;
    font-size: 14px;
}

.loginwidget .urlRoom {
    position: absolute;
    color: #e4393c;
    height: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: 40%;
    font-size: 14px;
}

.iconPic {
    position: absolute;
    margin-top: -35px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

input {
    text-indent: 25px;
    background-color: white;
}

.loginwidget button {
    position: absolute;
    background-color: darkturquoise;
    height: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: 55%;
    font-size: 14px;
}
