* {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: 'Microsoft YaHei';
    height: 100%;
    width: 100%;
}

html {
    background-size: cover;
}

    html body {
        height: 100%;
        width: 100%;
        position: relative;
        clear: both;
        overflow: hidden;
    }

.titlebar {
    width: 100%;
    height: 40px;
    background: url('../res/logo.png') center no-repeat, url('../res/title.png');
    background-color: darkblue;
}

    .titlebar table {
        width: 96px;
        height: 32px;
        float: right;
    }

    .titlebar td {
        width: 32px;
    }

.winpic {
    width: 32px;
    height: 32px;
}

#maxbtn:hover {
}

#minbtn:hover {
    content: url("../res/winmin_hover.png");
}

#closebtn:hover {
    content: url("../res/winclose_hover.png");
}

iframe {
    height: calc(100% - 40px);
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(245,245,245, .3);
}
